___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [1]:
#Repeat of first part
import pandas as pd
ri=pd.read_csv('Police.csv', nrows=50000)
ri.drop(['county_fips', 'fine_grained_location', 'county_name', 'state'], axis=1, inplace=True)
ri.dropna(subset=['driver_gender'],inplace=True)
ri['is_arrested']=ri['is_arrested'].astype(bool)
ri['combined']= ri['stop_date']+' ' +ri['stop_time']
ri['stop_datetime']=ri['combined'].astype('datetime64')
ri.set_index('stop_datetime', inplace=True)
ri.drop('combined', axis=1, inplace=True)
ri.head()

C:\Users\aslik\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,White,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,2005-01-04,12:55,Zone X4,500,M,1986.0,19.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,2005-01-06,01:30,Zone X4,500,M,1978.0,27.0,B,Black,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,2005-01-12,08:05,Zone X1,0,M,1973.0,32.0,B,Black,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [2]:
ri.shape

(48010, 22)

In [3]:
# count the types of violations
ri['violation'].nunique()

5

In [4]:
ri['violation'].value_counts()

Speeding               36111
Moving violation        6522
Equipment               3022
Registration/plates     1463
Other                    892
Name: violation, dtype: int64

In [5]:
# Calculate the percentage of each violation type
print('The violations are grouped as below:')
round(ri['violation'].value_counts()/len(ri['violation'])*100, 2)

The violations are grouped as below:

Speeding               75.22
Moving violation       13.58
Equipment               6.29
Registration/plates     3.05
Other                   1.86
Name: violation, dtype: float64

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [6]:
#Create female dataset, which includes just females
female=ri[ri['driver_gender']=='F']
female.shape

(13309, 22)

In [7]:
#Create male dataset, which includes just females
male=ri[ri['driver_gender']=='M']
male.shape

(34701, 22)

In [8]:
# Calculate the percentage of each violation type in female dataset (=among female gender)
print('The violations of WOMEN are distributed as below:')
round(female['violation'].value_counts()/len(female['violation'])*100, 2)

The violations of WOMEN are distributed as below:

Speeding               81.12
Moving violation        9.90
Equipment               4.56
Registration/plates     2.76
Other                   1.66
Name: violation, dtype: float64

In [9]:
# Calculate the percentage of each violation type in male dataset (=among male gender)
print('The violations of MEN are distributed as below:')
round(male['violation'].value_counts()/len(male['violation'])*100, 2)

The violations of MEN are distributed as below:

Speeding               72.95
Moving violation       15.00
Equipment               6.96
Registration/plates     3.16
Other                   1.93
Name: violation, dtype: float64

Surprisingly women have more oft Speeding violations than men. And as expected women are better equiped than men:)

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [10]:
#Create a DataFrame, that only includes female drivers who were stopped for speeding.
female_and_speeding=ri[(ri['driver_gender']=='F') & (ri['violation']=='Speeding')]
female_and_speeding.shape

(10796, 22)

In [11]:
##Create a DataFrame, that only includes male drivers who were stopped for speeding.
male_and_speeding=ri[(ri['driver_gender']=='M') & (ri['violation']=='Speeding')]
male_and_speeding.shape

(25315, 22)

In [12]:
#Calculating the percentage of each stop_outcome type in female_and_speeding dataframe
print('The stop_outcome of WOMEN are as below:')
round(female_and_speeding['stop_outcome'].value_counts()/len(female_and_speeding['violation'])*100, 2)

The stop_outcome of WOMEN are as below:

Citation            97.34
Warning              1.30
Arrest Driver        0.74
N/D                  0.36
Arrest Passenger     0.23
No Action            0.03
Name: stop_outcome, dtype: float64

In [13]:
##Calculating the percentage of each stop_outcome type in male_and_speeding dataframe
print('The stop_outcome of MEN are as below:')
round(male_and_speeding['stop_outcome'].value_counts()/len(male_and_speeding['violation'])*100, 2)

The stop_outcome of MEN are as below:

Citation            95.73
Arrest Driver        2.62
Warning              1.07
N/D                  0.34
Arrest Passenger     0.20
No Action            0.04
Name: stop_outcome, dtype: float64

***

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [14]:
#dtype of search_conducted control
ri['search_conducted'].dtype

dtype('bool')

In [15]:
#Count how many True values are in search_conducted column
ri['search_conducted'].value_counts()

False    45998
True      2012
Name: search_conducted, dtype: int64

In [16]:
#Calculate search_conducted proportions
round(ri['search_conducted'].value_counts()/len(ri)*100,2)

False    95.81
True      4.19
Name: search_conducted, dtype: float64

In [17]:
#compare whether the mean is equal to the ratio above
print(ri['search_conducted'].mean())
print(ri[ri['search_conducted']==True].count()[0]/len(ri))

0.04190793584669861
0.04190793584669861

In [18]:
ri[ri['search_conducted']==True].count()[0]

2012

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [19]:
#calculate the mean of 'search_conducted' column with only female drivers
ri[ri['driver_gender']=='F']['search_conducted'].mean()

0.017807498685100308

In [20]:
#same calculation with female dataframe (double check)
female['search_conducted'].mean()

0.017807498685100308

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [21]:
#calculate the mean of 'search_conducted' column with only male drivers
ri[ri['driver_gender']=='M']['search_conducted'].mean()

0.05115126365234431

In [22]:
#same calculation with male dataframe (double check)
male['search_conducted'].mean()

0.05115126365234431

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [23]:
# same calculation with groupby (triple check)
ri.groupby('driver_gender')[['search_conducted']].mean()

               search_conducted
driver_gender
F                      0.017807
M                      0.051151

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [24]:
#calculate the search rate for each combination of gender and violation
ri.groupby(['driver_gender', 'violation'])[['search_conducted']].mean()

                                   search_conducted
driver_gender violation
F             Equipment                    0.079077
              Moving violation             0.047800
              Other                        0.045249
              Registration/plates          0.114441
              Speeding                     0.006854
M             Equipment                    0.123395
              Moving violation             0.088778
              Other                        0.154993
              Registration/plates          0.171533
              Speeding                     0.028560

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [25]:
#calculate the search rate for each combination of violation and gender.
ri.groupby(['violation', 'driver_gender'])[['search_conducted']].mean()

                                   search_conducted
violation           driver_gender
Equipment           F                      0.079077
                    M                      0.123395
Moving violation    F                      0.047800
                    M                      0.088778
Other               F                      0.045249
                    M                      0.154993
Registration/plates F                      0.114441
                    M                      0.171533
Speeding            F                      0.006854
                    M                      0.028560

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

In [26]:
#count the number of searches with only "Protective Frisk"
ri[ri['search_type']=="Protective Frisk"].count()[0]

204

In [27]:
#Create a bool column, frisk (True if "Protective Frisk" is included in search_type)
ri['frisk']=ri['search_type'].str.contains(pat="Protective Frisk", na=False)

In [28]:
#Check the data type of frisk
ri['frisk'].dtype

dtype('bool')

In [29]:
#count the total number of frisks
ri['frisk'].sum()

403

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [30]:
#Create a new DataFrame, searched (include only the rows where search_conducted is True)
searched=ri[ri['search_conducted']==True]
searched.shape

(2012, 23)

In [31]:
#Take the mean of the frisk column 
searched['frisk'].mean()

0.20029821073558648

In [32]:
#Calculate the frisk rate for each gender
searched.groupby('driver_gender')[['frisk']].mean()

                  frisk
driver_gender
F              0.164557
M              0.205070